{% extends 'base.html' %}

{% block content %}
    <h3 style="text-decoration: underline;">Reservations open for bidding:</h3>
    {% for restaurant in restaurants %}
        <div >
          <p><b>Restaurant: </b> {{ restaurant['restaurant'] }}</p>
          <p><b>Time: </b> {{ restaurant['reservation_time'] }}</p>
          <p><b>Headcount: </b>  {{ restaurant['headcount'] }}</p>
          <p><b>Adress: </b>  {{ restaurant['adress'] }}</p>
          <p><b>Price: </b>  {{ restaurant['price'] }}</p>
          <p><b>Venmo ID: </b>  {{ restaurant['venmo_id'] }}</p>

        </div>
<hr/>
    {% endfor %}
{% endblock %}